@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800);

h1, h2, h3, h4 {
  font-family: 'Didact Gothic', sans-serif;
}
h2 {
  font-size: 4.2em;
}
.update{
  margin-right: 100px;
  float:left;
}

.site-wrapper {
  display: table;
  background-size: auto 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  background-image: url('http://i.imgur.com/xD05xXn.jpg');
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 4px 4px 8px #000;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-top:100px;
  text-align:center;
  }

.home-header {
  color:white;
  text-shadow: 4px 4px 8px #000;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;

}
.text-content {
  color:#f8f8f8;
  width:50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px
}
