<h2>Welcome to SnowPea Me</h2>

<p>Do you have a garden, do you know someone who has a garden? If so you've probably had an overflow of produce at some time that went to waste. What did you do? Eat it all by yourself? Foist it upon unwilling neighbors and former friends? Now there's a better way.</p>
<p>What if you could find someone living near you who wanted to buy your extra produce from you? That's what SnowPea Me is for.</p>
<p>On SnowPea Me you can browse locally for available produce around you, grown by your neighbors in their own back yards. It's a place where people who care deeply about organics, sustainability, or diet can come together with personal and community gardeners in a veggie symbiosis.</p>
<p>If you find yourself with an abundance of kumquats, why not make some extra money by putting them up on SnowPea Me?</p>