<div class="site-wrapper" style="background-image:url('http://i.imgur.com/xD05xXn.jpg');background-repeat:no-repeat;background-size:100% 900px;height:550px;width:1300px;text-align:center;text-shadow: 4px 4px 8px #000;">
  <div class="site-wrapper-inner" style="padding-top:100px;text-align:center;">
    <h2 style="color:white;text-shadow: 4px 4px 8px #000;" class="home-header">Wanna veg out?</h2>
    <div class="text-content" style="width:50%;text-align:center;margin-left:auto;margin-right:auto;font-size:15px" >
      <p>On SnowPea Me you can browse locally for available produce around you, grown by your neighbors in their own back yards. It's a place where people who care deeply about organics, sustainability, or diet can come together with personal and community gardeners in a veggie symbiosis.</p>
    </div>
  </div>
</div>
